[pager]
  diff = diff-so-fancy | less --tabs=4 -RFX
  show = diff-so-fancy | less --tabs=4 -RFX
[alias]
  ; $(awk -F "/" '{print $NF}' .git/refs/remotes/origin/HEAD) is used to detect if master or main is being used in the repo
  a = add
  aa = add -A
  b = branch
  bd = branch -d
  c = commit
  cb = checkout -b
  chk = checkout
  chko = checkout --ours
  chkt = checkout --theirs
  cm = commit -m
  dsf = "!f() { [ \"$GIT_PREFIX\" != \"\" ] && cd "$GIT_PREFIX"; git diff --color $@ | diff-so-fancy | less --tabs=4 -RFX; }; f"
  ec = "!f() { git rebase --interactive ''$1^''; }; f"
  flush = !git reset --hard && git clean -df
  hf = "!f() { \
    git stash -u && \
    git checkout $(awk -F "/" '{print $NF}' .git/refs/remotes/origin/HEAD) && \
    git fetch origin && \
    git rebase $(awk -F "/" '{print $NF}' .git/refs/remotes/origin/HEAD) && \
    branch_name=$1 && \
    shift && \
    git checkout -b $branch_name && \
    git stash pop && \
    git add -A -i && \
    git commit && \
    git push --set-upstream origin $branch_name && \
    git checkout '@{-2}'; \
    }; f"
  l = log --graph --pretty=format:'%Cred%h%Creset %Cgreen(%ad)%C(yellow)%d%Creset %s %C(bold blue)<%an>%Creset' --date=short --abbrev-commit -n 15
  mm = "!f() { \
    git stash -u && \
    git checkout $(awk -F "/" '{print $NF}' .git/refs/remotes/origin/HEAD) && \
    (git fetch origin && \
    git rebase $(awk -F "/" '{print $NF}' .git/refs/remotes/origin/HEAD) && \
    git checkout - ) && \
    git rebase $(awk -F "/" '{print $NF}' .git/refs/remotes/origin/HEAD) && \
    git stash pop; \
    }; f"
  pl = pull
  ps = push
  s = status -s
  st = status
  undo = reset --soft HEAD~1
  up = !git fetch && git rebase
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[color]
  ui = always
[color "diff"]
  meta = yellow bold
  commit = green bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = "red bold 52"
  newNormal = "green bold"
  newHighlight = "green bold 22"
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[push]
  default = tracking
[include]
  path = ~/.gitconfig.local
[merge]
  tool = meld
[mergetool]
  keepBackup = false
