[alias]
  ; $(awk -F "/" '{print $NF}' .git/refs/remotes/origin/HEAD) is used to detect if master or main is being used in the repo
  a = add
  aa = add -A
  b = branch
  bd = branch -d
  c = commit
  cb = checkout -b
  chk = checkout
  chm = "!f() { git checkout $(awk -F "/" '{print $NF}' .git/refs/remotes/origin/HEAD); }; f"
  chko = checkout --ours
  chkt = checkout --theirs
  ; delete all branches except main/master
  dabf = "!f() { git branch | grep -v $(awk -F "/" '{print $NF}' .git/refs/remotes/origin/HEAD) | sed -e $'s/\\x1b\\[[0-9;]*m//g' | xargs git branch -D; }; f"
  cm = commit -m
  dsf = "!f() { [ \"$GIT_PREFIX\" != \"\" ] && cd "$GIT_PREFIX"; git diff --color $@ | diff-so-fancy | less --tabs=4 -RFX; }; f"
  ; edit commit by SHA
  ec = "!f() { git rebase --interactive ''$1^''; }; f"
  flush = !git reset --hard && git clean -df
  ; stash changes, create hotfix branch, apply changes, commit, push, checkout previous branch
  hf = "!f() { \
    git stash -u && \
    git checkout $(awk -F "/" '{print $NF}' .git/refs/remotes/origin/HEAD) && \
    git fetch origin && \
    git rebase $(awk -F "/" '{print $NF}' .git/refs/remotes/origin/HEAD) && \
    branch_name=$1 && \
    shift && \
    git checkout -b $branch_name && \
    git stash pop && \
    git add -A -i && \
    git commit && \
    git push --set-upstream origin $branch_name && \
    git checkout '@{-2}'; \
    }; f"
  l = log --graph --pretty=format:'%Cred%h%Creset %Cgreen(%ad)%C(yellow)%d%Creset %s %C(bold blue)<%an>%Creset' --date=short --abbrev-commit -n 15
  ; rebase current branch on origin/HEAD
  mm = "!f() { \
    git stash -u && \
    git checkout $(awk -F "/" '{print $NF}' .git/refs/remotes/origin/HEAD) && \
    git up && \
    git checkout - && \
    git rebase $(awk -F "/" '{print $NF}' .git/refs/remotes/origin/HEAD) && \
    git stash pop; \
    }; f"
  pl = pull
  ps = push
  s = status -s
  st = status
  undo = reset --soft HEAD~1
  up = !git fetch && git rebase
[branch]
  sort = -committerdate
[color]
  ui = always
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  commit = green bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = "red bold 52"
  newNormal = "green bold"
  newHighlight = "green bold 22"
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[fetch]
  prune = true
  pruneTags = true
  all = true
[include]
  path = ~/.gitconfig.local
[init]
  defaultBranch = main
[merge]
  tool = meld
[mergetool]
  keepBackup = false
[pager]
  show = diff-so-fancy | less --tabs=4 -RFX
  diff = diff-so-fancy | less --tabs=4 -RFX
  branch = false
  log = false
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = trueV
[push]
  default = tracking
  autoSetupRemote = true
  followTags = true
[tag]
  sort = version:refname
